/* RESET DE ESTILOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Estilos generales  */
body {
  background-color: #fff;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/* efectos del menu */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* blanco normal */
  transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffde59; /* amarillo al pasar o cuando está activo */
}

/* logo y texto*/
.navbar-brand {
  color: #ffde59 !important;
  font-weight: bold;
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: #ffde59;
}

.navbar-toggler-icon {
  filter: invert(80%) sepia(70%) saturate(400%) hue-rotate(20deg);
}

/*    Encabezado y pie */
header, footer {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Botones    */
.btn-warning {
  background-color: #ffde59;
  border: none;
}

/*  Imágenes  */
img {
  max-width: 100%;
  height: auto;
}

/*  MQ  */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  /*  Ajustes para imágenes del carrusel  */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/* mobile, altura más baja  */
@media (max-width: 768px) {
  .carousel-item img {
    height: 250px;
  }
  .carousel-caption {
    bottom: 10px;
    padding: 5px 10px;
  }

}
}
/* imágenes del carrusel  */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}


